@model IEnumerable<Job_Advertisements_Final_Project_Sukhman.Models.Advertisement>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Advertisements</h1>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("admin")) { 
    <p>
        <a class="btn btn-primary btn-xl" asp-action="Create">Add New Advertisement</a>
    </p>
}
<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-lg-12">
                <div class="card border-primary mb-3" style="width: 100%;">
                    <div class="card-body">
                        <h4 class="card-title">@item.Title</h4>
                        <h6 class="card-subtitle">By @item.AdvertiserEmail</h6>

                        <p > @item.Content</p>
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("applicant"))
                        {
                            <a class="btn btn-primary btn-xl" href="/Advertisements/Details/@item.Id"> View Job</a>
                        }
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
                        {
                            <a class="btn btn-primary" href="/Advertisements/Edit/@item.Id"> Edit</a>
                            <a class="btn btn-danger" href="/Advertisements/Delete/@item.Id"> Delete</a>
                        }
                    </div>
                </div>
            </div>


        }

    </div>
